@model Card;


<head>

    
    <script>
        function buttonColor1(){
            document.getElementById("button1").style.background = '@Card.color1'
        }
        function buttonColor2(){
            document.getElementById("button2").style.background = '@Card.color2'
        }
        function buttonColor3(){
            document.getElementById("button3").style.background = '@Card.color3'
        }
        function buttonColor4() {
            document.getElementById("button4").style.background = '@Card.color4'
        }
        function buttonColor5() {
            document.getElementById("button5").style.background = '@Card.color5'
        }
        function buttonColor6() {
            document.getElementById("button6").style.background = '@Card.color6'
        }
        function buttonColor7() {
            document.getElementById("button7").style.background = '@Card.color7'
        }
        function buttonColor8() {
            document.getElementById("button8").style.background = '@Card.color8'
        }
        function buttonColor9(){
            document.getElementById("button9").style.background = '@Card.color9'
        }
         function buttonColor10(){
        document.getElementById("button10").style.background = '@Card.color10'
        }
        function buttonColor11() {
            document.getElementById("button11").style.background = '@Card.color11'
        }
        function buttonColor12() {
            document.getElementById("button12").style.background = '@Card.color12'
        }
         function buttonColor13(){
        document.getElementById("button13").style.background = '@Card.color13'
        }
        function buttonColor14(){
            document.getElementById("button14").style.background = '@Card.color14'
        }
        function buttonColor15(){
            document.getElementById("button15").style.background = '@Card.color15'
        }
        function buttonColor16() {
            document.getElementById("button16").style.background = '@Card.color16'
        }
        function buttonColor17(){
            document.getElementById("button17").style.background = '@Card.color17'
        }
        function buttonColor18(){
            document.getElementById("button18").style.background = '@Card.color18'
        }
        function buttonColor19() {
            document.getElementById("button19").style.background = '@Card.color19'
        }
        function buttonColor20(){
            document.getElementById("button20").style.background = '@Card.color20'
        }
        function buttonColor21(){
            document.getElementById("button21").style.background = '@Card.color21'
        }
        function buttonColor22() {
            document.getElementById("button22").style.background = '@Card.color22'
        }
        function buttonColor23(){
            document.getElementById("button23").style.background = '@Card.color23'
        }
        function buttonColor24() {
            document.getElementById("button24").style.background = '@Card.color24'
        }
        function buttonColor25(){
            document.getElementById("button25").style.background = '@Card.color25'
        }
    </script>
</head>

<body>

<div class="text-center">
    <a href="SpymasterTran"><button class="btn btn-primary">I am a Spy Master</button></a>
</div>

    <h2>hint: @Card.hintMsg</h2>
    <h2>How many words hint applys to: @Card.hintedWords</h2>




<div class="container text-center">
    <div class="row p-2">
        <div class="col border-2 border-primary p-5 m-3">
           
          

                <button class="guessCard" id="button1" name="btn1" onclick="buttonColor1()" value="Display">
                <div class="text-black">
                    @Card.word1
                </div>

            </button>
            
            
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button2" name="btn2" onclick="buttonColor2()" value="Display">
                <div class="text-black">

                        @Card.word2
                </div>

            </button>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button3" name="btn3" onclick="buttonColor3()" value="Display">
                <div class="text-black">

                        @Card.word3
                </div>

            </button>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button4" name="btn4" onclick="buttonColor4()" value="Display">
                <div class="text-black">

                        @Card.word4
                </div>

            </button>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button5" name="btn5" onclick="buttonColor5()" value="Display">
                <div class="text-black">

                        @Card.word5
                </div>

            </button>
        </div>
    </div>
    <div class="row p-2">
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button6" name="btn6" onclick="buttonColor6()" value="Display">
                <div class="text-black">

                        @Card.word6
                </div>

            </button>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button7" name="btn7" onclick="buttonColor7()" value="Display">
                <div class="text-black">

                        @Card.word7
                </div>

            </button>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button8" name="btn8" onclick="buttonColor8()" value="Display">
                <div class="text-black">

                        @Card.word8
                </div>

            </button>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button9" name="btn9" onclick="buttonColor9()" value="Display">
                <div class="text-black">

                        @Card.word9
                </div>

            </button>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button10" name="btn10" onclick="buttonColor10()" value="Display">
                <div class="text-black">

                        @Card.word10
                </div>

            </button>
        </div>
    </div>
    <div class="row p-2">
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button11" name="btn11" onclick="buttonColor11()" value="Display">
                <div class="text-black">

                        @Card.word11
                </div>

            </button>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button12" name="btn12" onclick="buttonColor12()" value="Display">
                <div class="text-black">

                        @Card.word12
                </div>

            </button>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button13" name="btn13" onclick="buttonColor13()" value="Display">
                <div class="text-black">

                        @Card.word13
                </div>

            </button>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button14" name="btn14" onclick="buttonColor14()" value="Display">
                <div class="text-black">

                        @Card.word14
                </div>

            </button>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button15" name="btn15" onclick="buttonColor15()" value="Display">
                <div class="text-black">

                        @Card.word15
                </div>

            </button>
        </div>
    </div>
    <div class="row p-2">
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button16" name="btn16" onclick="buttonColor16()" value="Display">
                <div class="text-black">

                        @Card.word16
                </div>

            </button>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button17" name="btn17" onclick="buttonColor17()" value="Display">
                <div class="text-black">

                        @Card.word17
                </div>

            </button>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button18" name="btn18" onclick="buttonColor18()" value="Display">
                <div class="text-black">

                        @Card.word18
                </div>

            </button>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button19" name="btn19" onclick="buttonColor19()" value="Display">
                <div class="text-black">

                        @Card.word19
                </div>

            </button>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button20" name="btn20" onclick="buttonColor20()" value="Display">
                <div class="text-black">

                        @Card.word20
                </div>

            </button>
        </div>
    </div>
    <div class="row p-2">
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button21" name="btn21" onclick="buttonColor21()" value="Display">
                <div class="text-black">

                        @Card.word21
                </div>

            </button>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button22" name="btn22" onclick="buttonColor22()" value="Display">
                <div class="text-black">

                        @Card.word22
                </div>

            </button>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button23" name="btn23" onclick="buttonColor23()" value="Display">
                <div class="text-black">

                        @Card.word23
                </div>

            </button>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button24" name="btn24" onclick="buttonColor24()" value="Display">
                <div class="text-black">

                        @Card.word24
                </div>

            </button>
        </div>
        <div class="col border-2 border-primary p-5 m-3">
                <button class="guessCard" id="button25" name="btn25" onclick="buttonColor25()" value="Display">
                <div class="text-black">

                        @Card.word25
                </div>

            </button>
        </div>
    </div>
</div>



</body>