@model IEnumerable<Card>

<div class="text-center">
    <h2>You Are A Spy Master</h2>
    </br>

    <a href="GuesserTran"><button class="btn btn-primary">I've Given My Hint</button></a>
</div>

<div class="container text-center">
    <div class="row p-2">
        <div class="col border-2 border-primary p-5 m-3">
            
            @if(!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                <div class="@color">
                    Column
                </div>

                if(color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                <div class="@color">
                    Column
                </div>
            }
              
            
        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                    <div class="@color">
                        Column
                    </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                    <div class="@color">
                        Column
                    </div>
            }

        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                    <div class="@color">
                        Column
                    </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                    <div class="@color">
                        Column
                    </div>
            }

        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                <div class="@color">
                    Column
                </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                <div class="@color">
                    Column
                </div>
            }

        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                    <div class="@color">
                        Column
                    </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                    <div class="@color">
                        Column
                    </div>
            }

        </div>
    </div>
    <div class="row p-2">
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                    <div class="@color">
                        Column
                    </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                    <div class="@color">
                        Column
                    </div>
            }

        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                    <div class="@color">
                        Column
                    </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                    <div class="@color">
                        Column
                    </div>
            }

        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                    <div class="@color">
                        Column
                    </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                    <div class="@color">
                        Column
                    </div>
            }

        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                <div class="@color">
                    Column
                </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                <div class="@color">
                    Column
                </div>
            }

        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                <div class="@color">
                    Column
                </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                <div class="@color">
                    Column
                </div>
            }

        </div>
    </div>
    <div class="row p-2">
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                    <div class="@color">
                        Column
                    </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                    <div class="@color">
                        Column
                    </div>
            }

        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                    <div class="@color">
                        Column
                    </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                    <div class="@color">
                        Column
                    </div>
            }

        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                <div class="@color">
                    Column
                </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                <div class="@color">
                    Column
                </div>
            }

        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                <div class="@color">
                    Column
                </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                <div class="@color">
                    Column
                </div>
            }

        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                    <div class="@color">
                        Column
                    </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                    <div class="@color">
                        Column
                    </div>
            }

        </div>
    </div>
    <div class="row p-2">
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                    <div class="@color">
                        Column
                    </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                    <div class="@color">
                        Column
                    </div>
            }

        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                    <div class="@color">
                        Column
                    </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                    <div class="@color">
                        Column
                    </div>
            }

        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                    <div class="@color">
                        Column
                    </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                    <div class="@color">
                        Column
                    </div>
            }

        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                    <div class="@color">
                        Column
                    </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                    <div class="@color">
                        Column
                    </div>
            }

        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                    <div class="@color">
                        Column
                    </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                    <div class="@color">
                        Column
                    </div>
            }

        </div>
    </div>
    <div class="row p-2">
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                    <div class="@color">
                        Column
                    </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                    <div class="@color">
                        Column
                    </div>
            }

        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                    <div class="@color">
                        Column
                    </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                    <div class="@color">
                        Column
                    </div>
            }

        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                    <div class="@color">
                        Column
                    </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                    <div class="@color">
                        Column
                    </div>
            }

        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                    <div class="@color">
                        Column
                    </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                    <div class="@color">
                        Column
                    </div>
            }

        </div>
        <div class="col border-2 border-primary p-5 m-3">

            @if (!Card.isAssassin)
            {
                string color = @Card.colors[Card.rand.Next(4)];

                    <div class="@color">
                        Column
                    </div>

                if (color.Contains("Black"))
                {
                    Card.isAssassin = true;
                }
            }
            else
            {
                string color = @Card.colors[Card.rand.Next(3)];
                    <div class="@color">
                        Column
                    </div>
            }

        </div>
    </div>
</div>